# Pandas

In [74]:
import pandas as pd

In [75]:
file = "modern_arts.csv"

arts = pd.read_csv(file)

In [76]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [77]:
arts.shape

(16725, 8)

In [78]:
num_rows = arts.shape[0]

16725

In [79]:
type(arts) # 2 dimension

pandas.core.frame.DataFrame

In [80]:
arts.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [81]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [82]:
arts.head(10)

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
5,Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,(American),(1919),(2013),(Male),1957,Prints & Illustrated Books
6,Rue de l'Hôtel-de-Ville,Eugène Atget,(French),(1857),(1927),(Male),1924,Photography
7,Los Angeles Airport,Garry Winogrand,(American),(1928),(1984),(Male),1978-1983,Photography
8,Why Defy from Disasters of Peace,Diane Victor,(South African),(1964),NaN,(Female),2001,Prints & Illustrated Books
9,STILL WATER AND FISH,David Brown Milne,(Canadian),(1882),(1953),(Male),(1941),Prints & Illustrated Books

In [84]:
arts["Gender"] # 1 Dimension

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [85]:
type(arts["Gender"])

pandas.core.series.Series

In [86]:
cols = ["Artist", "Date"]


arts[cols]

                   Artist       Date
0      Sarah Charlesworth       1986
1         Pablo Palazuelo       1978
2           Maurice Denis  1889-1911
3        Aristide Maillol  1927-1940
4            Eugène Atget       1903
...                   ...        ...
16720         Henry Moore  1968-1969
16721         Juan Baixas       1975
16722       Edward Hopper       1922
16723             Unknown       1931
16724           Alex Katz       2011

[16725 rows x 2 columns]

In [87]:
arts[0]

KeyError: 0

In [91]:
arts.head(2)

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books

In [88]:
arts.iloc[0]

Title          Dress MacLeod from Tartan Sets
Artist                     Sarah Charlesworth
Nationality                        (American)
BeginDate                              (1947)
EndDate                                (2013)
Gender                               (Female)
Date                                     1986
Department         Prints & Illustrated Books
Name: 0, dtype: object

In [92]:
arts.iloc[[0,4]]

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [93]:
arts =arts.set_index("Nationality")

In [94]:
arts

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(Spanish),Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(1916),(2007),(Male),1978,Prints & Illustrated Books
(French),Tailpiece (page 55) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
(French),Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...
(British),Oval with Points,Henry Moore,(1898),(1986),(Male),1968-1969,Painting & Sculpture
(Chilean),"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(1942),NaN,(Male),1975,Architecture & Design
(American),The Catboat,Edward Hopper,(1882),(1967),(Male),1922,Prints & Illustrated Books
(),Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,NaN,NaN,(),1931,Prints & Illustrated Books
(American),Plate (page 11) from The Dive,Alex Katz,(1927),NaN,(Male),2011,Prints & Illustrated Books

In [95]:
arts.columns

Index(['Title', 'Artist', 'BeginDate', 'EndDate', 'Gender', 'Date',
       'Department'],
      dtype='object')

In [96]:
arts

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(Spanish),Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(1916),(2007),(Male),1978,Prints & Illustrated Books
(French),Tailpiece (page 55) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
(French),Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...
(British),Oval with Points,Henry Moore,(1898),(1986),(Male),1968-1969,Painting & Sculpture
(Chilean),"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(1942),NaN,(Male),1975,Architecture & Design
(American),The Catboat,Edward Hopper,(1882),(1967),(Male),1922,Prints & Illustrated Books
(),Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,NaN,NaN,(),1931,Prints & Illustrated Books
(American),Plate (page 11) from The Dive,Alex Katz,(1927),NaN,(Male),2011,Prints & Illustrated Books

In [97]:
arts.iloc[[0,2]]

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(French),Tailpiece (page 55) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books

In [100]:
arts.loc[["(American)", "(Spanish)"]]

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(American),Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,(1919),(2013),(Male),1957,Prints & Illustrated Books
(American),Los Angeles Airport,Garry Winogrand,(1928),(1984),(Male),1978-1983,Photography
(American),Black Bathroom,Jim Dine,(1935),NaN,(Male),1963,Prints & Illustrated Books
(American),Transcendence. Designs for the Ballet,Franklin Chenault Watkins,(1894),(1972),(Male),(1934),Drawings
...,...,...,...,...,...,...,...
(Spanish),S.O.S. Smoke Signals from Underground (SOS. Se...,Antoni Llena,(1942),NaN,(Male),2016,Drawings
(Spanish),"Montserrat Crying, No. 2",Julio González,(1876),(1942),(Male),1938,Drawings
(Spanish),"A bad night (Mala noche) (plate 36, folio 36) ...",Francisco de Goya,(1746),(1828),(Male),1797-1799,Prints & Illustrated Books
(Spanish),And his house is on fire (Y sele quema la casa...,Francisco de Goya,(1746),(1828),(Male),1797-1799,Prints & Illustrated Books
(Spanish),"Two Figures, Seated",Pablo Picasso,(1881),(1973),(Male),c. 1920,Prints & Illustrated Books

In [101]:
arts.iloc[[0,4]]

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography

In [102]:
arts.iloc[[0,4],5]

Nationality
(American)    1986
(French)      1903
Name: Date, dtype: object

In [103]:
arts.iloc[[0,4],[0,3]]

                                      Title EndDate
Nationality
(American)   Dress MacLeod from Tartan Sets  (2013)
(French)                      97 rue du Bac  (1927)

In [104]:
arts.loc[["(American)", "(Spanish)"],[0,3]]

KeyError: "None of [Index([0, 3], dtype='int32')] are in the [columns]"

In [105]:
arts.loc[["(American)", "(Spanish)"],["Date","Gender"]]

                  Date    Gender
Nationality
(American)        1986  (Female)
(American)        1957    (Male)
(American)   1978-1983    (Male)
(American)        1963    (Male)
(American)      (1934)    (Male)
...                ...       ...
(Spanish)         2016    (Male)
(Spanish)         1938    (Male)
(Spanish)    1797-1799    (Male)
(Spanish)    1797-1799    (Male)
(Spanish)      c. 1920    (Male)

[7787 rows x 2 columns]

In [108]:
arts.tail(7)

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),High Peak,Matthew Rackham Barnes,(1880),(1951),(Male),1936,Painting & Sculpture
(French),"Picasso Sculpture (paper, skull)",Brassaï (Gyula Halász),(1899),(1984),(Male),1943,Photography
(British),Oval with Points,Henry Moore,(1898),(1986),(Male),1968-1969,Painting & Sculpture
(Chilean),"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(1942),NaN,(Male),1975,Architecture & Design
(American),The Catboat,Edward Hopper,(1882),(1967),(Male),1922,Prints & Illustrated Books
(),Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,NaN,NaN,(),1931,Prints & Illustrated Books
(American),Plate (page 11) from The Dive,Alex Katz,(1927),NaN,(Male),2011,Prints & Illustrated Books